@model PixelDataApp.Models.LabelGroup

@{
    ViewData["Title"] = "Details of label group";
}

<h1>Details of label group</h1>

<div>
    <h4>LabelGroup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameRu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameRu)
        </dd>
    </dl>
</div>
<div>
    <h4>Associated labels</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    NameRu
                </th>
                <th>
                    StringID
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Labels) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameRu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StringID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LabelGroup.Name)
                </td>
            </tr>
}
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
