@model PixelDataApp.Models.Picture

@{
    ViewData["Title"] = "Delete picture";
}

<h1>Удалить фото</h1>

<h3>Вы уверены, что хотите удалить это фото?</h3>
<div>
    <h4>Фото</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-12">
            <img src="/Pictures/Image?id=@Model.Id" alt="Фото недоступно" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filepath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filepath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublishTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Answer.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
